/* Border Style */
.content-left-border {
    /* border:inset;
    border-width: 0.25em 0 0.25em 0.25em; */
    background-color: rgb(170, 170, 170);
    background-attachment:local;
    width:125px;
    min-width:125px;
}

.left-border-box {
    background-color: rgb(160, 69, 69);
    border:2px rgb(160, 69, 69) inset;
}

.content-right-border {
    /* border:inset;
    border-width: 0.25em 0.25em 0.25em 0; */
    background-color:rgb(170, 170, 170);
    width:125px;
    min-width:125px;
}

/* Border Layout */
.content-left-border {
    display:none;
}
   
.content-right-border {
    display:none;
}
/* Large screen enables border */
@media (min-width:1079px) {
    /* Border Layout */
    .content-left-border {
        display:flex;
        grid-area:clb;
        flex-direction: column;
        justify-content: left;   
        width:125px;
        margin:0;
        margin-left:10%;
    }

    .left-border-box {
        height: 45px;
        width:auto;
        margin:1em 0 0 0;
    }
   
    .content-right-border {
        display:flex;
        grid-area:crb;
        width:125px;
        margin-right:10%;
    }
}