/* Border Style */
.content-left-border {
    border:inset;
    border-width: 0.25em 0 0.25em 0.25em;
    /* background-color: rgb(170, 170, 170); */
    /* Metallic background expirement */
    background-image: -webkit-repeating-linear-gradient(left,
    hsla(0,0%,100%,0) 0%,
    hsla(0,0%,100%,0) 6%,
    hsla(0,0%,100%, 0.1) 7.5%),
    -webkit-repeating-linear-gradient(left,
    hsla(0,0%,0%,0) 0%,
    hsla(0,0%,0%,0) 4%,
    hsla(0,0%,0%,0.03) 4.5%),
    -webkit-repeating-linear-gradient(left,
    hsla(0,0%,100%,0.0) 0%,
    hsla(0,0%,100%,0) 1.2%,
    hsla(0,0%,100%,0.15) 2.2%),  
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
    background-color:hsl(0,0,67%);
}

.left-border-box {
    background-color: rgb(160, 69, 69);
    border:2px rgb(160, 69, 69) inset;
}

.content-right-border {
    border:inset;
    border-width: 0.25em 0.25em 0.25em 0;
    background-color:rgb(170, 170, 170);
}

/* Border Layout */
.content-left-border {
    display:none;
}
   
.content-right-border {
    display:none;
}
/* Large screen enables border */
@media (min-width:1079px) {
    /* Border Layout */
    .content-left-border {
        display:flex;
        grid-area:clb;
        flex-direction: column;
        justify-content: left;   
        width:auto;
    }

    .left-border-box {
        height: 45px;
        width:auto;
        margin:1em 0 0 0;
    }
   
    .content-right-border {
        display:flex;
        grid-area:crb;
        width:auto;
    }
}