.button-link {
    color:rgb(24, 24, 24);
    background-color:rgb(170, 170, 170);
    text-align: center;
    text-decoration:none;
    font-style:oblique;
    width: 50%;
    margin: 0.5em;
}

.button-link:hover {
    /* color:rgba(255, 255, 94, 0.815); */
    color:rgb(255, 255, 255);
    text-shadow:1px 1px 0 rgb(121,191,237),
                0 0 0.2em rgb(121, 191, 237),
                0 0 0.3em rgb(121, 191, 237);
    /* border: #13242f 8px solid; */
    /* box-shadow:inset 2px 2px 10px rgb(24, 24, 24); */
}
