
body {
    display:flex;
    flex-direction:row;
}

main {
    display:flex;
    flex-direction: column;
    flex:auto;
}

article {
    flex:2;
    overflow-y:auto;
}

aside {
    flex:1;
    overflow-y:auto;
}

.viewscreen{
    /* Layout */
    display:flex;
    flex-direction:column;
    /* Styles */
    box-shadow: inset -15px 0px 13px -5px rgba(9, 155, 253, 0.507)
}
/* Large size screens */
@media (min-width:1079px) {
    .viewscreen {
        flex-direction:row;
    }
}