/* Content Container Layout */
.content {
    display:grid;
    grid-area:ct;
    grid-template-areas:
    "hd"
    "nav"
    "ctm"
    "ftr";
}

/* Content Main Layout */
.content-main {
    display:flex;
    grid-area:ctm;
    flex-direction:column;
}
/* Large size screens */
@media (min-width:1079px) {
    .content {
        display:grid;
        grid-area:ct;
        grid-template-columns: auto 125px auto 125px auto;
        grid-template-areas:
        ". clb hd crb ."
        ". clb nav crb ."
        ". clb ctm crb ."
        ". clb ftr crb .";
    }
    
    .content-main {
        display:flex;
        grid-area:ctm;
        flex-direction:column;
        flex: 2 1 auto;
    }
}
