
body {
    display:flex;
    flex-direction:row;
}

main {
    display:flex;
    flex-direction: column;
    flex:auto;
}

article {
    flex:2;
    overflow-y:visible;
}

aside {
    flex:1;
    overflow-y:auto;
}

.viewscreen{
    /* Layout */
    display:flex;
    flex-direction:column;
    /* Styles */
    background-color:rgb(24, 24, 24);
    box-shadow: inset -15px 0px 13px -5px rgba(9, 155, 253, 0.507);
    animation-name: screen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes screen {
    0% {
        background-image: -webkit-repeating-linear-gradient(top,
            rgba(9, 155, 253, 0.1),
            rgba(24, 24, 24, 0.1) 0.01%,
            rgba(9, 155, 253, 0.1)0.02%
            );
    }
    50% {
        background-image: -webkit-repeating-linear-gradient(top,
        rgba(24, 24, 24, 0.1),
        rgba(9, 155, 253, 0.1) 0.01%,
        rgba(24, 24, 24, 0.1)0.02%)
    }
    100% {
        background-image: -webkit-repeating-linear-gradient(top,
            rgba(24, 24, 24, 0.1),
            rgba(9, 155, 253, 0.1)0.01%,
            rgba(24, 24, 24, 0.1) 0.02%
            );
    }
}

/* Large size screens */
@media (min-width:1079px) {
    .viewscreen {
        flex-direction:row;
    }
}