
body {
    display:flex;
    flex-direction:row;
}

main {
    display:flex;
    flex-direction: column;
    flex:auto;
    max-width: 100%;

}

article {
    flex:2;
    overflow-y:visible;
}

aside {
    flex:1;
    overflow-y:auto;
}


.archive {
    flex-direction:column;
}



@keyframes screen {
    0% {
        background-image: -webkit-repeating-linear-gradient(top,
            rgba(9, 155, 253, 0.1),
            rgba(24, 24, 24, 0.1) 0.01%,
            rgba(9, 155, 253, 0.1)0.02%
            );
        background-attachment:fixed;
    }
    50% {
        background-image: -webkit-repeating-linear-gradient(top,
        rgba(24, 24, 24, 0.1),
        rgba(9, 155, 253, 0.1) 0.01%,
        rgba(24, 24, 24, 0.1)0.02%);
        background-attachment:fixed;
    }
    100% {
        background-image: -webkit-repeating-linear-gradient(top,
            rgba(24, 24, 24, 0.1),
            rgba(9, 155, 253, 0.1)0.01%,
            rgba(24, 24, 24, 0.1) 0.02%
            );
        background-attachment:fixed;
    }
}

/* Large size screens */
@media (min-width:1079px) {
    .viewscreen {
        flex-direction:row;
    }

    .archive {
        flex-direction:column;
    }

    main {
        max-width: 80%;
    }
    .grid {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;

    }
}