
body {
    display:flex;
    flex-direction:row;
}

main {
    display:flex;
    flex-direction: column;
    flex:auto;
    max-width: 100%;

}

article {
    flex:2;
    overflow-y:visible;
}

aside {
    flex:1;
    overflow-y:auto;
}


.archive {
    flex-direction:column;
}

.viewscreen {
    align-items: center;
}

/* Large size screens */
@media (min-width:1079px) {
    .viewscreen {
        flex-direction:row;
    }

    .archive {
        flex-direction:column;
    }

    main {
        max-width: 80%;
    }
    .grid {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;

    }
}